<div class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"question.png", class: :image__header__image %>
      <h2 class="heading">問題編集</h2><br>
        <div class="form__wrapper">
        <%= form_with model:@question, url: question_path(params[:id]), method: :patch, local: true do |f| %>
          <span class="indispensable__question">必須</span>
          <%= f.text_area :content, id:"question_content",class: :ef__question, rows:"5", cols:"55"%>
          <%= f.label :content, "問題文" %><br />
          <span class="focus_line"></span>
        </div>
        <div class="sell-btn-contents">
          <%= f.submit "編集する" ,class: :nav__btn %>
          <%=link_to 'もどる', root_path, class: :nav__logout%>
        </div>
        <% end %>
      <br>
    </div>
  </div>
</div>