<div class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"edit.question.png", class: :image__header__image %>
      <h2 class="heading">問題編集</h2><br>
        <div class="form__wrapper">
        <%= form_with model:@question, url: question_path(params[:id]), method: :patch, local: true do |f| %>
        <%= render 'devise/shared/error_messages', model: f.object %>
        <div class="question__image">
        <label for="question_image" class="nav__btn">画像を投稿する
            <%= f.file_field :image, id:"question_image"%></label>
          <div id="image-list", class="image__preview"></div>
        </div>
          <span class="indispensable">必須</span>
          <%= f.text_area :content, id:"question_content",class: :ef__question, rows:"5", cols:"55"%>
          <%= f.label :content, "問題文" %><br />
          <span class="focus_line"></span>
          <%= f.collection_select(:allocation_id, Allocation.all, :id, :name, {}, {class: :ef__exam, id:"allocation"})%>
          <div class="indispensable">配点</div>
        </div>
        <div class="sell-btn-contents">
          <%= f.submit "編集する" ,class: :form__btn %>
          <%=link_to 'もどる', user_path(current_user), class: :nav__logout%>
        </div>
        <% end %>
      <br>
    </div>
  </div>
</div>