<div class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"question.png", class: :image__header__image %>
      <h2 class="heading">新規問題作成</h2><br>
        <div class="form__wrapper">
        <%= form_with model:@question_choice, url: exam_questions_path, local: true do |f| %>
        <%= render 'devise/shared/error_messages', model: f.object %>
        <%# <div class="img-upload"> %>
          <%# <div class="click-upload"> %>
            <%# <p>▼画像が必要な場合のみ投稿して下さい</p> %>
            <%# <%= f.file_field :image, id:"question-image" %>
          <%# </div> %>
        <%# </div> %>
        <div class="field">
          <span class="indispensable__question">必須</span>
          <%= f.text_area :content, id:"question_content",class: :ef__question, rows:"5", cols:"55"%>
          <%= f.label :content, "問題文" %><br />
          <span class="focus_line"></span>
        </div>
        <div class="field">
          <span class="indispensable__new">必須</span>
          <%= f.text_field "text[][tex]", class: :ef__question, :size=>"52" %>
          <%= f.label "text[][tex]", "選択肢" %>
          <%= f.collection_select("answer_id[][ans]", Answer.all, :id, :name, {}, {class: :ef__exam, id:"answer"}) %>
          <span class="focus_line"></span>
        </div>
        <div class="field">
          <span class="indispensable__new">必須</span>
          <%= f.text_field "text[][tex]", class: :ef__question, :size=>"52" %>
          <%= f.label "text[][tex]", "選択肢" %>
          <%= f.collection_select("answer_id[][ans]", Answer.all, :id, :name, {}, {class: :ef__exam, id:"answer"}) %>
          <span class="focus_line"></span>
        </div>
        <div class="field">
          <span class="indispensable__new">必須</span>
          <%= f.text_field "text[][tex]", class: :ef__question, :size=>"52" %>
          <%= f.label "text[][tex]", "選択肢" %>
          <%= f.collection_select("answer_id[][ans]", Answer.all, :id, :name, {}, {class: :ef__exam, id:"answer"}) %>
          <span class="focus_line"></span>
        </div>
        <div class="field">
          <span class="indispensable__new">必須</span>
          <%= f.text_field "text[][tex]", class: :ef__question, :size=>"52" %>
          <%= f.label "text[][tex]", "選択肢" %>
          <%= f.collection_select("answer_id[][ans]", Answer.all, :id, :name, {}, {class: :ef__exam, id:"answer"}) %>
          <span class="focus_line"></span>
        </div>
      <div class="sell-btn-contents">
        <%= f.submit "作成する" ,class: :nav__btn %>
        <%=link_to 'もどる', root_path, class: :nav__logout%>
      </div>
      <% end %>
      <br>
    </div>
  </div>
</div>