<div class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"sign.up.png", class: :image__header__image %><br><br>
      <h2 class="heading">ユーザー新規登録</h2><br>
        <div class="form__wrapper">
          <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render 'devise/shared/error_messages', model: f.object %>
          <div class="field">
            <span class="indispensable">必須</span>
            <%= f.email_field :email, autofocus: true, id:"email", class: :ef, :size=>"50" %>
            <%= f.label :email, "メールアドレス"%><br />
            <span class="focus_line"></span>
          </div>
          <div class="field">
            <span class="indispensable">必須</span>
            <%= f.text_field :name, class: :ef, id:"name", :size=>"50" %>
            <%= f.label :name, "登録名・法人名" %><br />
            <span class="focus_line"></span>
          </div>
          <div class="field">
            <span class="indispensable">必須</span>
            <%= f.password_field :password, class: :ef, id:"password", :size=>"50" %>
            <%= f.label :password, "パスワード" %><br />
            <span class="focus_line"></span>
          </div>
          <div class="field">
            <span class="indispensable">必須</span>
            <%= f.password_field :password_confirmation, class: :ef, id:"password_confirmation", :size=>"50" %>
            <%= f.label :password_confirmation, "パスワード再入力" %><br />
            <span class="focus_line"></span>
          </div>
          <div class="actions">
            <%= f.submit "新規登録", class: :form__btn  %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>