<div class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"sign.in.png", class: :image__header__image %><br><br>
      <h2 class="heading">ユーザーログイン</h2><br>
      <div class="form__wrapper">
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class='error-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :ef, :size=>"50" %>
          <%= f.label :email, "メールアドレス"%><br />
          <span class="focus_line"></span>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", class: :ef, :size=>"50" %>
          <%= f.label :password, "パスワード" %><br />
          <span class="focus_line"></span>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>