<main class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"finish.png", class: :image__header__image %>
      <p class="heading">作成した試験は非公開です</p>
      <%= image_tag("exam_message.png", class: :finish) %><br />
      <span class="caution">http://54.95.127.63/exams/</span><span><%= @exam.id_digest %></span><br />
        <%=link_to '試験ページ', exam_path(@exam.id_digest) , class: :nav__btn %>
        <%=link_to 'もどる', root_path, class: :nav__logout %>
    </div>
  </div>
</main>
