<div class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"edit.png", class: :image__header__image %><br><br>
      <h2 class="heading">試験編集</h2><br>
      <div class="form__wrapper">
      <%= form_with model: @exam, url: exam_path(params[:id]), method: :patch, local: true do |f| %>
      <%= render 'devise/shared/error_messages', model: f.object %>
        <div class="field">
          <span class="indispensable">必須</span>
          <%= f.text_area :title, id:"question_content",class: :ef__exam, rows:"1", cols:"50"%>
          <%= f.label :title, "試験を命名して下さい" %><br />
          <span class="focus_line"></span>
        </div>
        <div class="field">
          <span class="indispensable__exam">必須</span>
          <%= f.text_area :message, id:"question_content", class: :ef__exam, rows:"15", cols:"50", maxlength:"1024" %>
          <%= f.label :message, "試験の説明文を入力して下さい" %><br />
          <span class="focus_line"></span>
        </div>
          <br>作成した問題の中から試験に使用するものを選択して下さい<br>
          <div class="choice__lists">
            <div class="side__width"><div>
            <div class="choice__list__new">
              <%= f.collection_check_boxes :question_ids, Question.where(user_id: current_user.id), :id, :content %>
            </div>
            <div class="side__width"></div>
          </div>
          <%= f.radio_button :status, 1 %><span class="indispensable__open">公開</span>
          <%= f.radio_button :status, 2 %><span class="indispensable__open">非公開</span>
          <div class="btn__contents">
            <%= f.submit "編集する", class: :form__btn %>
            <%=link_to 'もどる', user_path(current_user), class: :nav__logout %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>