<main class="main fadeIn">
  <div class="inner">
    <div class="main__home">
      <%= image_tag "main.image.png", class: :main__image %>
    </div>
    <p class="heading">INFOMATION</p>
      <br>
    <div class="information__main fadeIn">
      <p>2020/11/20</p>
      <p>サーバーメンテナンスが終了しました</p>
      <br>
      <p>2020/11/5</p>
      <p>サーバーメンテナンスのお知らせ</p>
      <br>
    </div>
    <div class="service fadeIn">
      <%= link_to image_tag("service.png", class: :service__image), root_path %>
    </div>
    <div class="service__info fadeIn">
      <%= link_to image_tag("survice.corporation.png", class: :service__info__image), root_path %>
      <%= link_to image_tag("survice.individual.png", class: :service__info__image), root_path %>
    </div>
    <br>
    <p class="heading">INDEX</p>
    <br>
    <div class="information__main fadeIn">
      <p>- 公開されている試験 -</p>
    <div class="card__wrapper">
      <% if @exams.present?%>
        <% @exams.each do |exam| %>
          <li class='exam__index'>
            <%= link_to exam_path(exam.id) do %>
              <h3 class='exam__btn'>
                <%= exam.title %>
              </h3>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
</main>