<main class="main">
  <div class="inner">
    <div class="image__header">
      <%= image_tag"exam.main.png", class: :image__header__image %>
      <p class="heading">
        <%= @exam.title %>
      </p>
      <% if user_signed_in? %>
        <% if current_user.id == @exam.user_id %>
          <%= link_to '編集', edit_exam_path, class: :nav__btn %>
          <%= link_to '削除', exam_path, method: :delete, class: :nav__btn %>
        <% end %>
      <% end %>
      <div class="exam__body">
        <div class="prototype__detail"><br>
          <p class="information__main">- 問題説明 -</p>
          <div class="exam__message" style="white-space:pre">
            <%= simple_format(h(@exam.message))%>
          </div>
          <p class="information__main">下にスクロールすると開始します</p>
        </div>
        <% if user_signed_in? %>
          <%= form_with model: @result, url:exam_results_path(params[:id]), local: true do |f| %>
              <% @exam_questions.each_with_index do |exam, i| %>
                <ul class="question__lists fadeIn">
                  <div class="question__list">
                  <div class="question__number__left">
                    <span class="question__number"><%= "第#{i + 1}問"%></span></div>
                    <div><%= simple_format(h(exam.question.content)) %></div>
                  </div>
                </ul>
                  <ul class="choice__lists fadeIn">
                    <div class="side__width"><div>
                    <div class="choice__list">
                      <%= f.collection_check_boxes :choice_ids, exam.question.choices, :id, :text %>
                    </div>
                    <div class="side__width"></div>
                  </ul>
              <% end %>
            <div class="actions">
            <br>
            <br>
              <%= f.submit "送信する", class: :nav__btn %>
              <%=link_to 'もどる', root_path, class: :nav__logout %>
            </div>
          <% end %>
        <% else %><br>
          <p class="heading">※試験を始めるにはログインをして下さい</p>
        <% end%>
      </div>
    </div>
  </div>
</main>
